#admin-view{
    margin: 20px 5px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
    & .inner-admin{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        flex-wrap: nowrap;
        align-items: flex-start;
        & .left, & .right{
            background: white;
            border-radius: 8px;
            box-shadow: 1px 2px 9px 1px #00000012;
        }
        & .left{
            width: 24%;
            min-height: 430px;
            height: 535px;
        }
        & .right{
            padding: 0 10px;
            width: 73%;
            height: 100%;
        }
    }
    & .manager-login{
        margin: 40px auto;
        background: white;
    }
}
.char-flex{
    & div{
        width: 100%;
        margin: 15px;
    }
}
table{
    width: 100%;
    cursor: pointer;
    & td, & th{
        border-bottom: 1px solid rgba(72, 255, 0, 0.335);
        padding: 20px 6px;
        font-size: 14px;
        font-family: $s-fonts;
        text-align: left;
    }
    & th{
        text-transform: capitalize;
        font-weight: 500;
    }
    & tr{
        transition: 300ms;
        &:nth-child(even), &:hover{
            background-color: rgb(72 255 0 / 7%);
        }
        &:hover{
            background-color: #008dff14;
        }
    }
}
.form-title{
    margin: 25px 12px 5px 8px;
    font-weight: 500;
    font-size: 27px;
    font-family: 'Inter';
}
.about-view{
    max-width: 100%;
    margin-top: 80px;
    background: white;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 4px 6px 14px 1px #00000038;
    & section{
        margin: auto;
        text-align: center;
        margin: 20px auto;
        & img{
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid rgb(165, 30, 255);
            margin: auto;
        }
        & h2, & h3{
            font-family: $s-fonts;
            font-weight: 500;
        }
    }
    & p{
        padding: 10px;
        font-size: 18px;
        line-height: 1.4;
    }
}