.application-form {
    background: white;
    border-radius: 22px;
    margin: 35px auto;
    line-height: 1.5;
    font-weight: 500;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2901960784);

    & .selected-files-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        & span {
            display: flex;
            font-family: inter, Raleway, arial;
            font-size: 12px;
            border: 1px solid #7aff00;
            background: rgba(6, 252, 129, 0.2392156863);
            margin: 3px;
            border-radius: 4px;
            padding: 2px 8px;
            align-items: center;
        }

        & .close-333 {
            background: transparent;
            font-size: 18px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            color: black;
            padding: 1px 7px;
            transition: 500ms;

            &:hover {
                color: #ff0029;
            }
        }
    }

    & .drop-zone {
        width: 100%;
        height: 145px;
        border: 2px #00000059 dashed;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #05f20026;
        cursor: pointer;

        &.active {
            animation: dropZoneAnim 300ms ease-in forwards infinite;
            background-color: #05ff0052;
        }

        & input {
            display: none;
        }

        & .sp-1 {
            display: block;
            font-size: 18px;
            font-weight: 500;
        }

        & .sp-2 {
            font-size: 20px;
            font-weight: bold;
            margin: 6px auto;
            color: #8c8c8c;
        }

        & .btn-1 {
            height: 40px;
            width: 200px;
            border-radius: 39px;
            border: none;
            background: #0062ff;
            color: white;
            font-size: 14px;
            font-family: inherit;
            cursor: pointer;
        }
    }

    & h2 {
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: 1px;
        font-family: 'Inter';
    }

    & p {
        font-size: 14px;
        font-weight: 400;
    }

    & .form-right {
        & img {
            height: 100%;
            object-fit: cover;
        }
    }

    & .form-left {
        padding: 13px 57px;
        margin-left: 76px;
        margin-top: 39px;

        & form {
            margin-top: 20px;
        }
    }

    & .flex-yxz {
        display: flex;

        &.attachment {
            display: block;
        }

        & .a03x {
            display: flex;
            flex-direction: column;
            width: 268px;
            margin-top: 15px;
            margin-right: 20px;

            &.full-w {
                width: 100%;
            }

            & input, & select {
                height: 32px;
                border: none;
                border-bottom: 1px solid #00000036;
                width: 85%;

                &:active,
                &:hover {
                    border-bottom-color: rgb(0, 255, 106);
                }
            }
            & select{
                cursor: pointer;
                & option{
                    font-size: 16px;
                }
            }
            & textarea {
                width: 100%;
                border: 2px solid #ffc4fc;
                padding: 8px;
                font-family: 'Inter';
                font-size: 16px;
                border-radius: 8px;
                min-height: 220px;
                background: #ffe6ee;
            }
        }
    }
    & input[type="submit"]{
        width: 278px;
        height: 50px;
        margin: 22px auto 11px 0;
        border-radius: 37px;
        border: 2px solid #0c5493;
        background: #0062ff;
        color: white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        font-family: 'Inter';
        cursor: pointer;
        &:hover{
            background: #002dff;
        }
    }
}