footer{
    background: black;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-family: Inter;
    margin-top: 40px;
}