header {
    height: 65px;
    background: #CCFFAD;



    & nav {
        height: 100%;
        align-items: center;
        justify-content: space-between !important;

        &>ul {
            padding: 2px 10px;
        }
    }

    & .links {
        margin: 0 20px;
        align-items: center;

        & a {
            font-size: 14px;
            margin: 0px 6px;
            border-radius: 25px;
            color: #000000;
            font-weight: 500;
            font-family: Inter;
            padding: 7px 17px;

            &:hover,
            &.active {
                background: #00800033;
            }
        }
    }

    & .logo {
        & img {
            height: 60px;
            object-fit: scale-down;
            margin: 9px 5px 0 56px;
            width: 60px;
        }
        & .dkkk33k{
            display: flex;
            flex-direction: column;
            margin-top: 17px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            color: black;
            width: 223px;
            & span:nth-child(2){
                font-size: 12px;
                color: #119531;
            }
        }
    }

    & .user {
        align-items: center;
        margin: 0 14px 0px 52px;

        & span {
            margin-left: 8px;
            color: black;
            font-size: 12px;
            font-weight: bold;
        }

        & img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid rgb(167, 167, 167);
            object-fit: cover;
        }
    }
}

header.admin-header {

    background: white;

    & .links {
        & a {
            border-radius: 6px;

            &:hover,
            & a.active {
                background: rgb(0 0 0 / 10%);
            }
        }
    }
}