.side-bar{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 95%;
    justify-content: space-between;
    padding-bottom: 12px;
    & .side-bar-ul{
        & a{
            display: flex;
            align-items: center;
            font-size: 14px;
            color: black;
            padding: 4px 7px;
            font-family: $s-fonts;
            &:hover, &.active{
                background: #00ff0a0f;
            }
        }
        & svg{
            width: 22px;
            margin-right: 15px;
        }
        &.s-x2{
            margin-top: 60px;
            & span{
                font-size: 12px;
                margin-top: 10px;
                display: block;
            }
        }
    }
}